.m-5 {
  margin: 1.25rem
}

.m-2 {
  margin: 0.5rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.h-2 {
  height: 0.5rem
}

.h-10 {
  height: 2.5rem
}

.h-full {
  height: 100%
}

.flex-col {
  flex-direction: column
}

.content-end {
  align-content: flex-end
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.place-self-end {
  place-self: end
}

.self-end {
  align-self: flex-end
}

.justify-self-end {
  justify-self: end
}

.border-2 {
  border-width: 2px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.bg-green-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}
