<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185719716295-q2bj5mfdljbal39cvh5a4fbol6n9os83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185719716295-q2bj5mfdljbal39cvh5a4fbol6n9os83</string>
	<key>API_KEY</key>
	<string>AIzaSyCaHiHSAjatxj1P3rr8XzMn9gNkdt_N0yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>185719716295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>comms-a7347</string>
	<key>STORAGE_BUCKET</key>
	<string>comms-a7347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185719716295:ios:076c625ca108f28e0d81e2</string>
</dict>
</plist>